* {
    box-sizing: border-box;
}

body {
    background: #00BFFF;
    background-image:url(../image/belpost.jpg);
    font-family:Helvetica,Arial sans-serif;
}

.postcard {
    max-width: 525px;
    margin: 240px 40px;
    padding: 20px;
    background: #FFFFFF;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(135deg, #00008B, #4169E1 10px, transparent 10px, transparent 20px, #87CEFA 20px, #E0FFFF 30px, transparent 30px, transparent 40px);
    color: #605756;
}

.error {
    color:red;
}

.add-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;

	margin-bottom: 5px;
	background: #ADD8E6
}