.woman-postcard {
    border-image: 10 repeating-linear-gradient(135deg, #8B0000, #FFA07A 10px, transparent 10px, transparent 20px,
    #DB7093 20px, #FFC0CB 30px, transparent 30px, transparent 40px);
}

.man-postcard {
    border-image: 10 repeating-linear-gradient(135deg, #000000, #778899 10px, transparent 10px, transparent 20px,
    #A9A9A9 20px, #DCDCDC 30px, transparent 30px, transparent 40px);
}

.add-button {
    color: #FFFFFF;
    background: #BC8F8F;
}

.search {
    width: 50%;
}
